<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="account in accounts">
                    <td><a href="#/account/{{account.id}}">{{account.id}}</a></td>
                    <td><a href="#/account/{{account.id}}">{{account.email}}</a></td>
                    <td>{{account.firstname}}</td>
                    <td>{{account.lastname}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>