<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Level</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="role in roles">
                    
                    <td><a href="">{{role.id}}</a></td>
                    <td><a href="">{{role.name}}</a></td>
                    <td>{{role.level}}</td>
                    <td>{{role.description}}</td>
                    
                </tr>
            </tbody>
        </table>
    </div>
</div>