<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="team in teams">
                    <td>{{team.id}}</td>
                    <td>{{team.name}}</td>
                    <td>{{team.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>